@import "plugins/vuetify/style";
@import "helpers/helpers";

html, body {
  background: #121212;
  overflow-y: hidden !important;

  * {
    touch-action: pan-y pan-x;
  }
}

body {
  padding:
    env(safe-area-inset-top, 20px)
    env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px)
    env(safe-area-inset-left, 20px);
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #353535;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: #1d1d1d;
}
