@import "plugins/vuetify/style";
@import "helpers/helpers";

html, body {
  background: #121212;
  overflow-y: hidden !important;
  
  * {
    touch-action: pan-y pan-x;
  }

}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #353535;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: #1d1d1d;
}
