@import "plugins/vuetify/style";
@import "helpers/helpers";

html, body {
  background: #121212;
  overflow-y: hidden !important;

  * {
    touch-action: pan-y pan-x;
  }
}


::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #353535;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: #1d1d1d;
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}
