// Font sizes
.fz-\.55 {
    font-size: .55rem !important;
}

.fz-\.60 {
    font-size: .60rem !important;
}

.fz-\.65 {
    font-size: .65rem !important;
}

.fz-\.70 {
    font-size: .70rem !important;
}

.fz-\.75 {
    font-size: .75rem !important;
}

.fz-1 {
    font-size: 1rem !important;
}
