@import "plugins/vuetify/style";

html, body {
  overflow-y: hidden !important;
}


::-webkit-scrollbar-thumb {
  background-color: #505050;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: rgb(106, 106, 106);
}
