// Import plugins
@import "./plugins/vuetify/style";

// Import helpers
@import "./helpers/font";
@import "./helpers/text";

html, body {
    overflow-y: hidden !important;
    text-rendering: unset !important;
    -webkit-font-smoothing: unset !important;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #353535;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: #1d1d1d;
}

//font-family: 'Inter', sans-serif;
//font-family: 'Montserrat', sans-serif;
